/* FORMACIÓN */

.tituloformacion {
    text-align: center;
    margin: 10rem 0 5rem 0;
}

.tituloformacion h1 {
    font-size: 5rem;
    padding: 2rem 0 0rem 0;
}

.education {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 3rem;
    margin: 0 0 1.5rem 2rem;
}

.content .link {
    text-decoration: none;
    color: var(--blanco);
}

.education-column .education-box {
    border-left: .2rem solid var(--contraste);
}

.education-column .line {
    padding-bottom: .1rem;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--contraste);
    border-radius: 10px;
    margin-bottom: 2rem;
    
}

.education-content .content:hover {
    outline: 2px solid var(--contraste);
}

.education-content .content .anio {
    font-size: 1.5rem;
    color: var(--blanco);
    padding-bottom: .5rem;
}

.education-content .content h3 {
    font-size: 2.5rem;
}

.education-content .content p {
    font-size: 2rem;
    padding-top: .5rem;
}