  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
}

:root {
    --fondo-oscuro: #0e1822;
    --fondo-mas-oscuro: #414143;
    --fondo-claro: #F1F3FF;
    --contraste: #DB8485;
    --negro: #000;
    --blanco: #FFF7EE;
    --opacidad-baja: 0.1;
    --opacidad-alta: 1;
    --estrellas: 204, 205, 211;
}

.cambiocolor {
    --fondo-oscuro: #fff7ee;
    --fondo-mas-oscuro: #ecdfd1;
    --contraste: #AB3E4F;
    --negro: #fff;
    --blanco: #000;
    --opacidad-baja: 0.1;
    --opacidad-alta: 1;
    --estrellas: 51, 54, 70;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background-color: var(--fondo-oscuro);
    color: var(--blanco);
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.animated-section .animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fondo-oscuro);
    z-index: 98;
}

.animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--fondo-oscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

#toggle,
#toggle_idioma {
    display: none;
}

.header.sticky {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    transition: .2s;
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;

}

.imgyo {
    width: 180px;
}

.navbar {
    position: relative;
}

.navbar .solluna {
    font-size: 2.7rem;
    color: var(--blanco);
    font-weight: 500;
    align-items: center;
    margin-left: 4rem;
    transition: .3s;
    text-align: center;
}

.navbar .idioma {
    font-size: 2rem;
    color: var(--blanco);
    font-weight: 500;
    align-items: center;
    margin-left: 4rem;
    transition: .3s;
    text-align: center;
}

.navbar a {
    font-size: 2.2rem;
    color: var(--blanco);
    font-weight: 500;
    margin-left: 4rem;
    text-decoration: none;
    transition: .3s;
    align-items: flex-start;
}

.navbar a:hover,
.navbar a.active,
.navbar label:hover {
    color: var(--contraste);
}

#menu-icon {
    position: relative;
    font-size: 5rem;
    color: var(--blanco);
    cursor: pointer;
    display: none;
}

.rectangulo {
    width: 60px;
    height: 8px;
    margin-left: 5px;
    flex-shrink: 0;
    background-color: var(--contraste);
}